.headingContent {
    display: flex;
    padding: 15px 15px;
    background-color: aqua;
    color: blue;
    font-weight: bold;
}
.head1 {
    width: 40px;
}
.head2 {
    width: 300px;
}
.head3 {
    width: 450px;
}
.head4 {
    width: 250px;
}
