.wapLayout {
    display: flex;
    justify-content: center;
}

.container {
    width: 1250px;
    height: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: aliceblue;
    border-radius: 15px;
}