.container {
    width: 100%;
    height: 50px;
    display: flex;
    font-size: 14px;
    padding: 15px;
    justify-content: space-between;
}

.arrows {
    border: 1.5px solid black;
    background-color: none;
    width: 5px;
}
